<div style="min-width: 100%; min-height: 100%;max-width: 86%;float: right;max-height: 100%; background-color:rgba(0, 56, 102, 1) ;" >
  <div style="min-width: 100%; min-height: 100%;max-width: 100%;max-height: 100%;">
    <img src="../../assets/images/bg.png"  style="min-width: 100%; min-height: 100%;max-width: 100%;max-height: 100%; background: transparent; border: 3px solid rgba(0, 56, 102, 0.9);">
  </div>
  <div style="min-width: 100%; min-height: 100%;max-width: 100%;max-height: 100%; background:transparent; position:fixed;left:0;top:0;">
    <nz-layout class="layout">
      <nz-header style="background: transparent;">
        <div class="logo" style="float: left;">
          <img src="../../assets/images/logo.png" style="width: 9rem; height: 5rem;" srcset="">
        </div>
        <ul nz-menu  [nzSelectable]="false" [nzMode]="'horizontal'" style="border-bottom: none;line-height: 64px;position:relative; background: transparent;">
          <li class="avater">
            <i nz-icon type="poweroff" theme="outline" class="close" (click)="logout()"></i>
          </li>
        </ul>
      </nz-header>
      <nz-content style="padding:0;min-height: 200vh;">
        <nz-breadcrumb style="margin:16px 0;">
        </nz-breadcrumb>
        <div style="background:none; min-height: auto;">
          <router-outlet></router-outlet>
        </div>
      </nz-content>
      <nz-footer style="text-align: center;">Ant Design ©2017 Implement By Angular</nz-footer>
    </nz-layout>
    
  </div>
</div>

