<form nz-form [formGroup]="validateForm" class="ant-advanced-search-form">
  <div nz-row [nzGutter]="26" class="form-group">
    <div nz-col [nzSpan]="26">
      <nz-form-item nzFlex style="background: #fff;">
        <nz-form-label [nzSpan]="4">Rechercher</nz-form-label>
        <nz-form-control [nzSpan]="20">
          <input nz-input placeholder="Mot clé" formControlName="name" >
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
</form>
<div class="search-result-list" style="overflow-x: auto;">
  <div class="table-responsive">
      <table class="table" style="font-size: 0.8em;">
        <thead>
          <tr style="background: white;">
            <th *ngFor="let col of columns; let i = index;" style="text-align: center;">{{ col.title }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of dataSet  | paginate: { itemsPerPage: 10, currentPage: p };" style="color: white;text-align: center;" class="hvr-pop">
            <td>{{data.produit}}</td>
            <td>{{data.quantite}}</td>
            <td>{{data.prix}}</td>
            <td>{{data.type_seller}}</td>
            <td>{{data.nom_buyer}}</td>
            <td>{{data.tel_seller}}</td>
            <td>{{data.tel_buyer}}</td>
            <td [ngClass]="{bg:true,'bg-danger':data.etat==0,'bg-warning':data.etat==1,'bg-success':data.etat==2}">{{data.etat}}</td>
          </tr>
        </tbody>
    </table>
    <div class="list">
      <pagination-controls (pageChange)="p = $event" previousLabel="Précédent" nextLabel="Suivant"></pagination-controls>  
    </div>
  </div>
  
</div>

<nz-modal [(nzVisible)]="isVisible" nzTitle="positionner : {{curentPartenaire.entreprise}}" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()" nzOkText="Ok" nzCancelText="Cancel" >
        <nz-input-group [nzPrefix]="prefixUser">
          <input type="text" nz-input formControlName="password" placeholder="Montant">
        </nz-input-group>
</nz-modal>
  <ng-template #prefixUser><i nz-icon type="money"></i></ng-template>