<div  class="bg" >
  <div style="min-width: 100%; min-height: 100%;max-width: 100%;max-height: 100%;">
    <img src="../../assets/images/bg.png"  style="min-width: 100%; min-height: 100%;max-width: 100%;max-height: 100%; background: transparent; border: 3px solid rgba(0, 56, 102, 0.9);">
  </div>
  <div style="min-width: 100%; min-height: 100%;max-width: 100%;max-height: 100%; background:transparent; position:fixed;left:0;top:0;">

    <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()" style="min-width: 31%;">
      <div class="row" style="margin-bottom: 2rem;">
        <div class="col" style="padding-left: 23%;">
          <span style="display: block;border-radius: 50%;border: 6px solid white;width: 13rem;height: 13rem;padding: 3rem;padding-top: 2rem;"><i class="fa fa-user" style="color:white;font-size: 10em;"></i></span>
        </div>
      </div>
      <nz-form-item>
        <nz-form-control>
          <nz-input-group [nzPrefix]="prefixUser">
            <input type="text" nz-input formControlName="userName" placeholder="Username">
          </nz-input-group>
          <nz-form-explain *ngIf="validateForm.get('userName').dirty && validateForm.get('userName').errors">veuillez entrer le nom d'utilisateur!!</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <nz-input-group [nzPrefix]="prefixLock">
            <input type="password" nz-input formControlName="password" placeholder="Password">
          </nz-input-group>
          <nz-form-explain *ngIf="validateForm.get('password').dirty && validateForm.get('password').errors">S'il vous plaît entrer le mot de passe!</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <button nz-button class="login-form-button" [nzType]="'primary'" style="background: #fdc712;">Connexion</button>
          <div class="row" style="font-size: 0.9em; color: white;">
            <div class="col-6">
              <label nz-checkbox formControlName="remember">
                <span style="font-size: 0.9em; color: white;">Se souvenir du mot de passe</span>
              </label>
            </div>
            <div class="col-6">
              <a class="login-form-forgot" class="login-form-forgot">Mot de passe oublié</a>
            </div>
          </div>
        </nz-form-control>
      </nz-form-item>
    </form>
    <ng-template #prefixUser><i nz-icon type="user"></i></ng-template>
    <ng-template #prefixLock><i nz-icon type="lock"></i></ng-template>
  </div>

</div>

